.container {
    display: flex;
    flex-direction: column;
  }
  
  .container > * {
    left: 50px;
    width: 20%;
  }
  .button-row > * {
    left: 50px;
  }
  .links line {
    stroke: #999;
    stroke-opacity: 0.6;
  }
  
  .nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
    cursor: pointer;
  }